.region_dropdown {
    position: relative;
}

.btn_show_regions {
    gap: 3.125rem;
    padding: 1.125rem 1.34375rem 1.125rem 1.5rem;
    background-color: var(--clr-elements);
    color: var(--clr-text);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: .75rem;
    border-radius: .5rem;
}

.btn_show_regions:hover {
    opacity: .7;
}

.regions {
    position: absolute;
    margin-top: 4px;
    width: 190.38px;
    border-radius: .5rem;
    overflow: hidden;
    color: var(--clr-text);
    background-color: var(--clr-elements);
    padding-block: 1rem;
    padding-left: 1.5rem;
    line-height: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.regions-hidden {
    display: none;
    position: absolute;
}

.regions li:hover {   
    cursor: pointer;
    opacity: .8;
}

@media (min-width:800px) {
    .regions {
        width: 100%;
    }
}