.bg-main-page {
    background-color: var(--clr-background);
    padding-bottom: 5rem;
}

@media (min-width:800px) {
    .search-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

